{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_superuser %}
<div align="center">
	<p class="sansserifgrey">
	<font size = "6"> <light>Edition</light> </font></br>1. Input your edition. Fields with * are required.</br> 2. Click "Submit".
	</p>
</div>
<div align="center">
	<p class ="sansserif">
		<form method="post" action="{% url 'add_edition' title_id %}">
			{% csrf_token %}
			<table class = "table2" align="center">
			{% for field in edition_form.visible_fields %}
			<tr>
			{% if field.errors %}
				<ul class="errorlist">{% for error in field.errors %}<li>{{error}}</li>{% endfor %}</ul>
			{% endif %}
			</tr>
			<tr>
			<td> {{ field.label_tag }}
				{% if field.field.required %}*{% endif %}
			</td>
			<td> {{ field}}</td>
			</tr>
			{% endfor %}
			</table>
			<br>
    		<input type="submit" name="submit" value="submit" class="finalsubmit" style="position:fixed; left:50%;"/>

		</form>
	</p>
</div>
{% else %}
<div align="center">
<p class="sansserif">
Edition input is currently disabled for librarians. If you'd like to input a new edition, please email something@upenn.edu with your request.
</p>
</div>
{% endif %}

{% endblock content %}
