{% extends 'census/base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'census/style.css' %}" rel="stylesheet" type="text/css" />

<p class="play-title-header guide-text">Contact Us</p>

<div class="contactfieldWrapper">
  <form action="" method="post">
    {% csrf_token %}
    <table class="contact-form" align="center" cellpadding="10px" frame="box" width="500px">
      {{ form.as_table }}
    </table>
    <p class="guide-text"><input type="submit"></input></p>
  </form>
</div>

{% endblock %}
