{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<script type="text/javascript" src="{% static 'census/js/bootstrap-modal.js' %}"></script>
<script type="text/javascript" src="{% static 'census/js/copy_detail_edit_modal.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'census/css/modal.css' %}" />

{% if not user.is_authenticated %}
    <p>Please sign in to make any change</p>
{% else %}
    {% if user.is_superuser %}
    <p>To add a new copy, please fill in the form below:</p>
    {% else %}
    <p>If you have a copy of this edition that is not in our database, please fill in the form below to submit it:</p>
    {% endif %}

<!-- Title: [title]
Edition: [edition - just as listed on the Copy listing page, e.g. "2nd Edition (4°)"]
[blank line]
Year: [year]
STC / Wing: [stc/wing]
ESTC: [estc]
DEEP: [deep]

Then a blank line, followed by "Required:"

Shelfmark: [text box]
Local notes: [large text box]
Provenance information: [large text box]

Then a blank line, followed by "Optional:"

Height: (just like it is now is fine)
Width: (just like it is now is fine)
Marginalia [large text box]
Binding [text box]
Binder [text box]
-->
 
    <form class="form-inline"  method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.Shelfmark.errors }}
            {{ form.Shelfmark.label_tag }}
            {{ form.Shelfmark }}
        </div>
        <div>
            {{ form.Localnotes.errors }}
            {{ form.Localnotes.label_tag }}
            {{ form.Localnotes }}
        </div>

        <table>
            {{ form }}
        </table>
        <input type="submit" name="submit" value="submit" class="finalsubmit" style="position:static; left:50%;"/>
    </form>
    
{% endif %}
{% endblock content %}
