
{% extends "base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/census/js/edit_dropdown.js"></script>
<script type="text/javascript" src="/static/census/js/edit_popup_script.js"></script>

{% if messages %}
<ul class="errorlist">
    {% for message in messages %}
    <p class="sansserif" style="position:relative; color:#b91f44; text-align:center;">{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url 'edit_copy_submission' copy_id %}" method="post" accept-charset="utf-8" style="margin-left:20px">
	{% csrf_token %}
<div>
  <center><p style="font-size:25; font-weight: lighter;">1. select a title</p></center>
  <table class = 'center'>
  <tr>
  <td>
  <select name="title" id="title" class ="submissionselect">
  <option value="Z">select a title</option>
  {% for title in all_titles %}
		{% if title.id == old_title_id %}
			<option value="{{ title.id }}" selected>{{ title.title }}</option>
		{% else %}
    	<option value="{{ title.id }}">{{ title.title }}</option>
		{% endif %}
  {% endfor %}
  </select>
  </td>
  <td>
  <a href="{% url 'add_title' %}" name="add another title" onclick="return showAddAnotherPopup(this);" class= "copysubmission">add title+</a>
  </td>
  </tr>
  </table>
</div>

<div class='edition_section' id ='edition_section'>
  <center><p style="font-size:25; font-weight: lighter;">2. select an edition</p></center>
  <table class = 'center'>
  <tr>
  <td>
  <select name="edition" id="edition" class = "submissionselect">
		<option value="Z">select an edition</option>
	  {% for edition in old_edition_set %}
			{% if edition.id == old_edition_id %}
				<option value="{{ edition.id }}" selected>Edition {{ edition.Edition_number }}</option>
			{% else %}
	    	<option value="{{ edition.id }}">Edition {{ edition.Edition_number }}</option>
			{% endif %}
	  {% endfor %}
  </select>
  </td>
  <td>
  <a href="{% url 'add_edition' old_title_id %}" id="add_edition" name ="add another edition" onclick="return showAddAnotherPopup(this);" class="copysubmission">add edition+</a>
  </td>
  </tr>
  </table>
</div>


<div class='issue_section' id='issue_section'>
  <center><p style="font-size:25; font-weight: lighter;">3. select an issue</p></center>
  <table class = 'center'>
  <tr>
  <td>
  <select name="issue" id="issue" class="submissionselect">
		<option value="Z">select an issue</option>
			{% for issue in old_issue_set %}
			{% if issue.id == old_issue_id %}
				<option value="{{ issue.id }}" selected>Issue {{ issue.STC_Wing }}</option>
			{% else %}
				<option value="{{ issue.id }}">Issue {{ issue.STC_Wing }}</option>
			{% endif %}
		{% endfor %}
	</select>
	</td>
	<td>

  <a href="{% url 'add_issue' old_edition_id %}" id="add_issue" name ="add another issue" onclick="return showAddAnotherPopup(this);" class="copysubmission">add issue+</a>
  </td>
  </tr>
  </table>
</div>

<div class='copy_section' id='copy_section'>
<center><p style="font-size:25; font-weight: lighter;">4. fill in the information about the copy</p></center>	  <table class = "table2" align="center">
    {% for field in copy_form.visible_fields %}
    <tr>
    <td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
    <td>{{ field }}</td>
    </tr>
    <tr>
      <td></td>
      <td>
		{% if field.errors %}
			<ul class="errorlist">{% for error in field.errors %}<li>{{error}}</li>{% endfor %}</ul>
		{% endif %}
    </td>
    <tr>
    {% endfor %}
</table>
</div>
<br>
<div class="my-button">
	<input type="submit" name="submit" value="Submit" class="finalsubmit" id="copy_submit" />
</div>
</form>

{% endblock content %}
