{% extends "base.html" %}

{% block content %}
{% load static %}

<div class = forgotpassannouncer>
Uh, oh.
</div>
<div class = forgotpassannouncer2>

Forgot your password?
<br>
We'll help you make a new one.
</div>


<form action="" method="post">	
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    {{ form.email.errors }}
    <br>
    <table align="center" style="width:40%;"><tr><td>Enter your email address:{{ form.email }}</td></tr></table>
    <input type="submit" value="reset password" class="finalsubmit"/>
</form>

{% endblock %}
