{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Shakespeare Census.{% endblocktrans %}
{% blocktrans %}Please go to the following page and choose a new password.{% endblocktrans %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Your username, in case you've forgotten, is {{ user.username }}.

Thanks for using Shakespeare Census!
{% endautoescape %}

