{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="wrapper">
<hr width = "30%"></hr>
	<p class="sansserifgrey">
	This is an interesting sentence. <br>We'll be describing the content of this page with this sentence. This sentence will be very informative. </br> Hopefully, people actually read this sentence.
	</p>
</div>
<hr width = "30%"></hr>
<br>
<br>
<div class="newspaper">
{% if provenances %}
    {% for provenance in provenances %}
    <p class="sansserif">
    	<table class = "center">
    		<tr>
    			<th> Info type </th>
    			<th> Book info </th>
    		</tr>
            <tr>
                <td>Copy</td>
                <td>{{ provenance.copy}}</td>
            </tr>
    		<tr>
    			<td>Name</td>
   				<td>{{ provenance.name }}</td>
   			</tr>

   			<tr>
   				<td> Bio </td>
   				<td>{{ provenance.bio }}</td>
   			</tr>
        </table>
    </p>
    {% endfor %}

</div>
</div>
{% else %}
    <p class="sansserif" align="center">Oh no! No provenances are available.</p>
{% endif %}
{% endblock content %}
