{% load static %}

<div class="tucked">
    {% if user.is_authenticated %}
    <a class="button" href="{% url 'logout_user' %}">Sign out</a>
    <a class="button" href="{% url 'profile' %}">Account</a>
    {% if user.is_staff %}
    <a class="button" href="{% url 'admin_start' %}">Site Administration</a>
    {% else %}
    <a class="button" href="{% url 'librarian_start' %}">Library Holdings</a>
    {% endif %}
    {% else %}

    <a class="button" href="{% url 'login_user' %}">Sign in</a>
    {% endif %}
    <!-- A normally-styled non-breaking space always appears here
        to ensure consistent div height. Someday we will find the
        correct way to do this. -->
        &nbsp;
</div>
<table class="title">
    <tr>
        <th>
            &nbsp;
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            &nbsp;
        </th>
   </tr>
    <tr>
        <td colspan="4">
          {% if request.path == '/homepage' %}
            <a>Shakespeare Census</a>
          {% else %}
            <a href="{% url 'homepage' %}">Shakespeare Census</a><br/>
          {% endif %}
        </td>
    </tr>
</table>

<table class="header-title-nav">
   <tr>
     <th>
       <a href="{% url 'about' %}">about</a>
     </th>
     <th>
       <a href="#search" id="site-search-button">search</a>
     </th>
   </tr>
</table>

<div class="search-bar">
  <form id="search-bar-form" class="hidden" action="/search/" method="get">
    <select id="search-bar-form-field" name="field">
      <option disabled selected value>Search by...</option>
      <option value="keyword">Keyword</option>
      <option value="location">Location</option>
      <option value="provenance_name">Provenance Name</option>
      <option value="year">Year</option>
      <option value="stc">STC / Wing #</option>
      <option value="bartlett">Bartlett #</option>
      <option value="nsc">SC #</option>
    </select>
    <input id="search-bar-form-text" type="text" name="value" placeholder="Search..">
    <input id="search-bar-form-submit" type="submit" value="Submit" >
  </form>
</div>

<script>
    utils.get.id('site-search-button').addEventListener('click', function () {
        utils.togglehide.id('search-bar-form');
    });
    $(function() {
        var fillerGlobal = ['some', 'fake', 'suggestions'];
        var fieldMap = {
            location: {}, // search location table
            provenance_name: {} // search prov name table
            // special: {},  // autofill with fixed set of values
        };

        // $.ajax( initialize some stuff here )

        // put some helper functions here

        $('#search-bar-form-text').autocomplete({
            autoFocus: true,
            source: function(request, response) {
                var field_el = utils.get.id('search-bar-form-field');
                var field = field_el.options[field_el.selectedIndex].value;
                console.log(field);
                var results = $.ui.autocomplete.filter(fillerGlobal, request.term);
                // response(results.slice(0, 20));
            },
            select: function(evt, ui) {

            },
            focus: function(evt, ui) {
            }
        });
    });


    // if (window.location.hash && window.location.hash === '#search') {
    //    utils.get.id('search-bar-form').classList.remove('hidden');
    // }
</script>
