

{% extends "base.html" %}

{% load static %}
{% block content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'census/js/bootstrap-modal.js' %}"></script>
<script type="text/javascript" src="{% static 'census/js/copy_detail_edit_modal.js' %}"></script>
<script type="text/javascript" src="{% static 'census/js/dropdown.js' %}"></script>
<script type="text/javascript" src="{% static 'census/js/popup_script.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'census/css/modal.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'census/css/submission.css' %}" />
<div class="wrapper">
    <hr class ="style14" width = "50%"></hr>
    <p class="sansserifgrey">
    Submit books below.
    </p>
    <hr class ="style14" width = "50%"></hr>

</div>

{% if messages %}
<ul class="errorlist">
    {% for message in messages %}
    <p class="sansserif" style="position:relative; color:#b91f44; text-align:center;">{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url 'submission' %}" method="post" accept-charset="utf-8" style="margin-left:20px" novalidate>
    {% csrf_token %}
    <div>
        <center><p style="font-size:25; font-weight: lighter;">1. select a title</p></center>
        <table class = 'center'>
            <tr>
                <td id ="width_tmp_td">
                    <select name="title" id="title" class ="submissionselect">
                        <option value="Z">select a title</option>
                        {% for title in all_titles %}
                        <option value="{{ title.id }}">{{ title.title }}</option>
                        {% endfor %}
                    </select>
                    <select id="width_tmp_select">
                        <option id="width_tmp_option"></option>
                    </select>
                </td>
                <td>
                    <a href="{% url 'add_title' %}" style="color:#FFFFFF;" name="add another title" onclick="return showAddAnotherPopup(this);" class="copysubmission">add title+</a>
                </td>
            </tr>
        </table>
    </div>

    <div class='edition_section' id ='edition_section' style='display:none'>
        <center><p style="font-size:25; font-weight: lighter;">2. select an edition</p></center>
        <table class = 'center'>
            <tr>
                <td id ="width_tmp_td">
                    <select name="edition" id="edition" class = "submissionselect">
                        <option>select an edition</option>
                    </select>
                    <select id="width_tmp_select">
                        <option id="width_tmp_option"></option>
                    </select>
                </td>
                <td>
                    <a href="#" id="add_edition" style="color:#FFFFFF;" name ="add another edition" onclick="return showAddAnotherPopup(this);" class="copysubmission">add edition+</a>
                </td>
            </tr>
        </table>
    </div>

    <div class='issue_section' id='issue_section' style='display:none'>
        <center><p style="font-size:25; font-weight: lighter;">3. select an issue</p></center>
        <table class = 'center'>
            <tr>
                <td id ="width_tmp_td">
                    <select name="issue" id="issue" class="submissionselect">
                        <option>select an issue</option>
                    </select>
                    <select id="width_tmp_select">
                        <option id="width_tmp_option"></option>
                    </select>
                </td>
                <td>
                    <a href="#" id="add_issue" style="color:#FFFFFF;" name ="add another issue" onclick="return showAddAnotherPopup(this);" class="copysubmission">add issue+</a>
                </td>
            </tr>
        </table>
    </div>
    <div class='copy_section' id='copy_section' style='display:none'>
        <center><p style="font-size:25; font-weight: lighter;">4. fill in the information about the copy.</p><p>Field with * is required.</p></center>
        <h3 style="margin-left:410px">
            <td>Primary</td>
        </h3>
        <table class = "table2" align="center">
            <tr>
                <td>Shelfmark:*</td>
                <td>{{ copy_form.Shelfmark }}</td>
            </tr>
            <tr>
                <td>Local notes:</td>
                <td>{{ copy_form.Local_Notes }}</td>
            </tr>
            <tr>
                <td>Provenance</td>
                <td>{{ copy_form.prov_info }}</td>
            </tr>
        </table>

        <h3 style="margin-left:410px">
            <td>Secondary</td>
        </h3>
        <table class = "table2" align="center">
            <tr>
                <td>Height:</td>
                <td>{{ copy_form.Height }}</td>
            </tr>
            <tr>
                <td>Width:</td>
                <td>{{ copy_form.Width }}</td>
            </tr>
            <tr>
                <td>Condition:</td>
                <td>{{ copy_form.Condition }}</td>
            </tr>
            <tr>
                <td>Binding:</td>
                <td>{{ copy_form.Binding }}</td>
            </tr>
            <tr>
                <td>Binder:</td>
                <td>{{ copy_form.Binder }}</td>
            </tr>
            <tr>
                <td>Bookplate:</td>
                <td>{{ copy_form.Bookplate }}</td>
            </tr>
            <tr>
                <td>Bookplate location:</td>
                <td>{{ copy_form.Bookplate_Location }}</td>
            </tr>
            <tr>
                <td>Marginalia:</td>
                <td>{{ copy_form.Marginalia }}</td>
            </tr>
        </table>

        <br>
    </div>
    <hr class="style1"></hr>
    <input type="submit" name="submit" value="submit" class="finalsubmit" id="copy_submit" style="display:none" />
</form>

<script type="text/javascript">
$(document).ready(function() {
    $('#title').change(function(){
        $("#width_tmp_option").html($('#title option:selected').text());
        $(this).width($("#width_tmp_select").width()+60);
        $("#width_tmp_td").width($("#width_tmp_select").width());
    });
});

$(document).ready(function() {
    $('#edition').change(function(){
        $("#width_tmp_option").html($('#edition option:selected').text());
        $(this).width($("#width_tmp_select").width()+100);
        $("#width_tmp_td").width($("#width_tmp_select").width());
    });
});
$(document).ready(function() {
    $('#issue').change(function(){
        $("#width_tmp_option").html($('#issue option:selected').text());
        $(this).width($("#width_tmp_select").width()+100);
        $("#width_tmp_td").width($("#width_tmp_select").width());
    });
});
</script>

{% endblock content %}
