{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'census/transactions.css' %}" />
<div class="wrapper">

<hr class="style14" width = "50%"></hr>
	<p class="sansserifgrey">
	See all transactions for the selected copy below.
	</p>
</div>
<hr class="style14" width = "50%"></hr>
<br>
<br>
{% if transactions %}
    {% for transaction in transactions %}
    <p class="sansserif">
    	<table align = "center">
      <th colspan=2> On {{transaction.date}}:</th>
    		<!-- <tr>
    			<th> Info type </th>
    			<th> Book info </th>
    		</tr> -->
    		<tr>
    			<td>Sold by: </td>
   				<td>{{ transaction.seller }}</td>
   			</tr>

   			<tr>
   				<td> Bought by: </td>
   				<td>{{ transaction.buyer }}</td>
   			</tr>
        <tr>
   				<td> Price: </td>
   				<td>${{ transaction.price }}</td>
   			</tr>
        </table>
    </p>
    {% endfor %}

</div>
{% else %}
    <p class="sansserif" align="center">Oh no! No transactions are available.</p>
{% endif %}
</body>
</html>
{% endblock content %}
