{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<div>
  <link rel="stylesheet" type="text/css" href= "{% static 'census/index.css' %}" />
  <script type="text/javascript" src="/static/census/bootstrap-modal.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'census/modal.css' %}" />
  <script type="text/javascript" src="/static/census/copy_detail_edit_modal.js"></script>

<div class = "history">Your contributions: </div>

<br>
<br>
<div class="container">
<table class="table table-striped" align="center" style="width:70%">
	<thead>
    <tr>
		 <th colspan=4>Copies you have submitted</th>
	  </tr>
  <tbody>
	{% if submissions %}
	{% for copy in submissions %}
		<tr>
			<td>{{ copy }}<td>
        <td><a class="copy_data" id="data{{copy.id}}" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">Details</a></td>
        <div id="copyModal" class="modal fade" role="dialog"></div>
    {% if 'Librarian' in copy.group|stringformat:"s" %}
    {% else %}


        <td><a class="update_copy" href="#" data-form="{% url 'update_copy' copy.id %}" title="Edit">Edit</a></td>
        <div id="editModal" class="modal fade" role="dialog"></div>

    {% endif %}

		</tr>
	{% endfor %}
	{% else %}
		<tr>
			<td>None, so far! Click <a href="{% url 'submission' %}" class="editbutton" role="button">here</a> to submit some.<td>
		</tr>
	{% endif %}
  </tbody>
</table>
<br>
<div class="pagination">
    <table class = "pagenavigator" align="center">
    <tr class ="pagenavigator">
      {% if submissions.has_previous %}
      <td class = "hoverspecial">  <a href="?page={{ submissions.paginator.1 }}" class="paginator"><<</a></td>
      <td class = "hoverspecial"> <a href="?page={{ submissions.previous_page_number }}"><</a></td>
      {% endif %}

    {% for page in submissions.paginator.page_range %}
      {% if page <= submissions.number|add:"3" %}
        {% if page >= submissions.number|add:"-3" %}
        {% if page == submissions.number %}
          <td class = "currentpage" width="20px">{{ page }}</td>
        {% else %}
          <td class="pagenavigator" width="20px"> <a href = "?page={{ page }}">{{ page }}</td>
        {% endif %}
        {% endif %}

      {% endif %}
    {% endfor %}

      {% if submissions.has_next %}
      <td class = "hoverspecial">  <a href="?page={{ submissions.next_page_number }}">></a></td>
      <td class = "hoverspecial">  <a href="?page={{ submissions.paginator.num_pages }}" class="paginator">>></a></td>
      {% endif %}
    </tr>
  </table>
  <!-- Pages generated: {{ submissions.paginator.num_pages }} -->

</div>

<br>
<br>

<div class="container">
<table class="table table-striped" align="center" style="width:70%">
  <thead>
  <tr class="spaceUnder">
		<th colspan=4>Copies you have edited</th>
	</tr>
</thead>
<tbody>
	{% if edited_copies %}
	{% for copy in edited_copies %}
		<tr>
			<td>{{ copy }}<td>
        <td><a class="copy_data" id="data{{copy.id}}" href="#" data-form="{% url 'copy_data' copy.id %}" title="Details">Details</a></td>
          {% if 'Librarian' in copy.group|stringformat:"s" %}
    {% else %}

        <td><a class="update_copy" href="#" data-form="{% url 'update_copy' copy.id %}" title="Edit">Edit</a></td>
        {% endif %}
    </tr>
	{% endfor %}
	{% else %}
		<tr class="spaceUnder">
			<td>None, so far!<td>
		</tr>
	{% endif %}
</tbody>
</table>
</div>
</div>

{% endblock content %}
