<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p class="sansserif" align="left" class="modal-title">Edit Copy Details:
            <span class="hidden" id="message" style="margin-left: 120px; color: red">Changes saved</span></p>
        </div>
        <div class="modal-body">
            <form class="editForm"  action="{% url 'update_child_copy' copy_id %}" method="post" accept-charset="utf-8" style="margin-left:20px">
                {% csrf_token %}
                <div id="primary">
                    <h3>PRIMARY</h3>
                    <p>{{ copy_form.Shelfmark.label_tag}}{{ copy_form.Shelfmark }} </p>
                    <ul class="errorlist">
                        {% for error in copy_form.Shelfmark.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>

                    <p>{{ copy_form.Local_Notes.label_tag }}{{ copy_form.Local_Notes }}</p>
                    <ul class="errorlist">
                        {% for error in copy_form.Local_Notes.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>

                    <p>{{ copy_form.prov_info.label_tag }}{{ copy_form.prov_info }}</p>
                    <ul class="errorlist">
                        {% for error in copy_form.prov_info.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="secondary">
                    <h3>SECONDARY</h3>
                    <p>{{ copy_form.Height.label_tag }}{{ copy_form.Height }}</p>
                    <ul class="errorlist">
                        {% for error in copy_form.Height.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>

                    <p>{{ copy_form.Width.label_tag }}{{ copy_form.Width }}</p>
                    <ul class="errorlist">
                        {% for error in copy_form.Width.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>

                    <p>{{ copy_form.Condition.label_tag }}{{ copy_form.Condition }}</p>
                    <ul class="errorlist">
                        {% for error in copy_form.Condition.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>

                    <p>{{ copy_form.Binding.label_tag }}{{ copy_form.Binding }}</p>
                    <ul class="errorlist">
                        {% for error in copy_form.Binding.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>

                    <p>{{ copy_form.Binder.label_tag }}{{ copy_form.Binder }}</p>
                    <ul class="errorlist">
                        {% for error in copy_form.Binder.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>

                    <p>{{ copy_form.Bookplate.label_tag }}{{ copy_form.Bookplate }}</p>
                    <ul class="errorlist">
                        {% for error in copy_form.Bookplate.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>

                    <p>{{ copy_form.Bookplate_Location.label_tag }}{{ copy_form.Bookplate_Location }}</p>
                    <ul class="errorlist">
                        {% for error in copy_form.Bookplate_Location.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>

                    <p>{{ copy_form.Marginalia.label_tag }}{{ copy_form.Marginalia }}</p>
                    <ul class="errorlist">
                        {% for error in copy_form.Marginalia.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="closebutton" id="closebtn">close</button>
                </div>
            </form>

            <script>
$(document).ready(function() {
    var shelfmark=$('#id_Shelfmark').val();
    var notes=$('#id_Local_Notes').val();
    var provenance=$('#id_prov_info').val();
    var height=$('#id_Height').val();
    var width=$('#id_Width').val();
    var condition=$('#id_Condition').val();
    var binding=$('#id_Binding').val();
    var binder=$('#id_Binder').val();
    var bookplate=$('#id_Bookplate').val();
    var bookplace_location=$('#id_Bookplate_Location').val();
    var marginalia=$('#id_Marginalia').val();

    var callback = function() {
        var changed = false;
        if (shelfmark !== $('#id_Shelfmark').val()) {
            changed = true;
            shelfmark = $('#id_Shelfmark').val();
        }
        if (notes !== $('#id_Local_Notes').val()) {
            changed = true;
            notes = $('#id_Local_Notes').val();
        }
        if (provenance!==$('#id_prov_info').val()) {
            changed = true;
            provenance=$('#id_prov_info').val();
        }
        if (height!==$('#id_Height').val()) {
            changed = true;
            height=$('#id_Height').val();
        }
        if (width!==$('#id_Width').val()) {
            changed = true;
            width=$('#id_Width').val();
        }
        if (condition!==$('#id_Condition').val()) {
            changed = true;
            condition=$('#id_Condition').val();
        }
        if (binding!==$('#id_Binding').val()) {
            changed = true;
            binding=$('#id_Binding').val()
        }
        if (binder!==$('#id_Binder').val()){
            changed=true;
            binder=$('#id_Binder').val();
        }
        if (bookplate!==$('#id_Bookplate').val()) {
            changed=true;
            bookplate=$('#id_Bookplate').val()
        }
        if (bookplace_location!==$('#id_Bookplate_Location').val()) {
            changed = true;
            bookplace_location=$('#id_Bookplate_Location').val();
        }
        if (marginalia!==$('#id_Marginalia').val()) {
            changed = true;
            marginalia=$('#id_Marginalia').val();
        }

        if(changed===true) {
            $.ajax({
                url: $('.editForm').attr('action'),
                type: "POST",
                datatype: "json",
                data: $('.editForm').serialize(),
                async: true,
                success: function(data) {
                    if(data['stat'] === "ok") {
                        var message=document.getElementById('message');
                        message.classList.remove('hidden');
                        setTimeout(function() {
                            message.classList.add('hidden');
                        }, 3000); //show the message for three seconds;
                        shelfmark = $('#id_Shelfmark').val();
                    }
                }
            });
        }
    }
    var interval=setInterval(callback, 10000);  //save changes every minute

    document.getElementById('closebtn').addEventListener('click', function() {
        clearInterval(interval);
        $("#editChildModal").modal('hide');
    });
});
            </script>
        </div>
    </div>
</div>
