{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="wrapper">
<br>
<br>
<div class = "heading">
Copy details:
</div>
<div id="detailModal">
<br>
    <p class="sansserif">
    	<table align = "center">
    		<tr>
    			<th> Info type </th>
    			<th> Book info </th>
    		</tr>
        <tr>
    			<td>Title</td>
   				<td>{{ selected_edition.title }}</td>
   			</tr>
        <tr>
    			<td>Edition</td>
   				<td>{{ selected_edition }}</td>
   			</tr>
    		<tr>
    			<td>Issue</td>
   				<td>{{ selected_copy.issue }}</td>
   			</tr>
        <tr>
    			<td>Thumbnail URL</td>
   				<td>{{ selected_copy.thumbnail_URL }}</td>
   			</tr>
   			<tr>
   				<td> NSC </td>
   				<td>{{ selected_copy.NSC }}</td>
   			</tr>
            <tr>
                <td> Owner </td>
                <td>{{ selected_copy.Owner }}</td>
            </tr>
            <tr>
                <td> Shelfmark </td>
                <td>{{ selected_copy.Shelfmark }}</td>
            </tr>
            <tr>
                <td> Height </td>
                <td>{{ selected_copy.Height }}</td>
            </tr>
            <tr>
                <td> Width </td>
                <td>{{ selected_copy.Width }}</td>
            </tr>
            <tr>
                <td> Marginalia </td>
                <td>{{ selected_copy.Marginalia }}</td>
            </tr>
            <tr>
                <td> Condition </td>
                <td>{{ selected_copy.Condition }}</td>
            </tr>
            <tr>
                <td> Binding </td>
                <td>{{ selected_copy.Binding }}</td>
            </tr>
            <tr>
                <td> Submitted by: </td>
                <td>{{ selected_copy.created_by }}</td>
            </tr>
        </table>
        </p>
</div>
</div>

{% endblock content %}
