<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 align="left" class="modal-title">Issue Details:</h4>
        </div>
        <div class="modal-body">
            <p align="left" class = "sansserif"><b>Edition: </b> {{ issue.edition }}</p>

            {% if issue.STC_Wing %}
            <p align="left" class = "sansserif"><b>STC_Wing: </b> {{ issue.STC_Wing }}</p>
            {% endif %}

            <p align="left" class = "sansserif"><b>ESTC: </b> {{ issue.ESTC }}</p>
            <p align="left" class = "sansserif"><b>Publication year: </b> {{ issue.year }}</p>

            {% if issue.DEEP %}
            <p align="left" class = "sansserif"><b>DEEP: </b> {{ issue.DEEP }}</p>
            {% endif %}

            {% if issue.notes %}
            <p align="left" class = "sansserif"><b>Notes: </b> {{ issue.notes }}</p>
            {% endif %}

            {% if issue.Variant_Description %}
            <p align="left" class = "sansserif"><b>Variant Description: </b> {{ issue.Variant_Description }}</p>
            {% endif %}

            <div class="modal-footer">
                <button type="button" class="closebutton" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>
