{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="forgotpassannouncer3">
    {% if validlink %}
        Set your new password.
    </div>
<br>
	<form action="" method="post" class = "newpasswordform">
            <div style="display:none" align="center">
	            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
	    </div>	    
            <table>
                <tr>
                    <td>{{ form.new_password1.erros}}
			<label for="id_new_password1">New password:</label>
		        {{ form.new_password1 }}</td>
	        </tr>
		<tr>
                    <td>{{ form.new_password2.errors}}
                        <label for="id_new_password2">Confirm password: </label>
		        {{ form.new_password2}}</td>
		</tr>
		<tr>
		    <td><input type="submit" value="change my password" class="finalsubmit"/></td>
		</tr>
	    </table>
          </form>
    {% else %}
         <h3>Password reset unsuccessful</h3>
         <p>The password reset link was invalid, possibly because it has already been used. <br/>
            Please request a new password reset.</p>
    {% endif %}
    </div>
{% endblock content %}       
