{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href= "{% static 'census/register.css' %}" />

<div class="wrapper">

<hr class="style14" width = "50%"></hr>
	<p class="sansserifgrey">
	Welcome to Shakespeare Census. </br> Please register below.
	</p>
</div>
<hr class="style14" width = "50%"></hr>

		<div id="bodycontent">
		<form id="user_form" method="post" action="{% url 'register' %}">
				{% csrf_token %}
			{% if user_form.errors %} 
			<p class= "sansserif" align="center"> <b>Please correct the following:<b></p>
			{% endif %}
			</table>
				<table class="registertable" align='center'>
				    {% for field in user_form.visible_fields %}
				    <tr>
				    <td>{{ field.label_tag }}</td>
				    <td> {{ field }}</td>
				    {% if field.errors %}
				    <tr style="background-color:inherit;">
				    	<td></td>
				    	<td style="background-color:inherit;"><ul class="errorlist">{% for error in field.errors %} <li> {{error}}</li>{% endfor %}</ul></td>
				    </tr>
				    {% endif %}
				    </tr>
				    {% endfor %}
				    </table>
			
			
<br>
				<input type="submit" class = "finalsubmit" name="submit" value="Register"/>
			</p>
		</form>
	</div>

{% endblock content %}
