<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 align="left" class="modal-title">Title Details:</h4>
        </div>
        <div class="modal-body">
            <p align="left" class = "sansserif"><b>Title:</b> {{ title }}</p>
            <p align="left" class = "sansserif"><b>Apocryphal:</b> {{ title.Apocryphal }}</p>
            <div class="modal-footer">
                <button type="button" class="closebutton" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>
