tr:nth-child(even):not(:nth-child(1)) {
    background-color: #f2f2f2
}

img.play-title-icon {
    height: 80px;
    width: 80px;
    border-radius: 80px;
}

p.play-title {
    text-align: left;
}

a.play-title {
    font-size: 40px;
    font-family: "Century Gothic", AppleGothic, sans-serif;
}

td > a {
    display: block;
}
