
tr {
  border:none;
  font-size:20px;
  height:60px;
}
td {
  border:none;
}
th, td {
  padding-top:0;
  padding-bottom:0;
  background:#FFFFFF;
}
td:nth-child(even) {
  background-color: #ff9966;
  width:auto;

}

td:nth-child(odd) {
  border-right:1px solid #FFFFFF;
  width:auto;
}
table {
  width:500px;
}

input[type=text]:focus {
  outline: none;
  box-shadow: 0px 1px 0px 0px #ebebeb, 0px 0px 0px 0px #ebebeb;
}
input {
    border: none;
    color: #000000;
    background: none;
    box-shadow: 0px 0px 0px 0px #ebebeb, 0px 0px 0px 0px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    width: 100%;
    font-size:20px;
    font-family: "Century Gothic", AppleGothic, sans-serif;
    font-weight:lighter;
}


li .messages {
  font-family: "Century Gothic", AppleGothic, sans-serif;
  font-size:20px
  font-weight:lighter;
}
.messages {
  font-family: "Century Gothic", AppleGothic, sans-serif;
  font-size:20px
  font-weight:lighter;
  position:fixed;
  left:35%;
}


.greeting {
	font-size: 30px;
  	font-family:'Raleway', sans-serif;
  	font-weight:300;
  	text-align: center;
}
tr.informtable :first-child{
	background-color: #a7c87b;
}
td.editprofilesubmit:hover {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  background: #a7c87b;
}

td.editprofilesubmit {
  border : none;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  border-top:1px solid #FFFFFF;
  width:inherit;
  font-size:15px;
  background: #8FBC8F;
  font-family: "Century Gothic", AppleGothic, sans-serif;
}


.editprofilesubmit2 {
  color:#FFFFFF;
}

