th, td {
  padding-top:0;
  padding-bottom:0;
  background:#A7C87B;
}
td:nth-child(even) {
  background-color: #ff9966;
  
}
table.center {
  width:300px;
  height:100px;
  margin-left:-150px;
  position:relative;
  left:50%;
  outline:none;
}
table.centersubmit {
  width:auto;
  height:100px;
  margin-left:-150px;
  position:relative;
  left:50%;
  outline:none;
}
table td:nth-child(odd) {
  border-right:1px solid #FFFFFF;
}